:root {
	--primary-color: #0060df;
	--light-primary-color: #0a84ff;
	--black-gray: #4a4a4f;
	--dark-gray: #737373;
	--gray: #b1b1b3;
	--light-gray: #d7d7db;
	--white-gray: #ededf0;
}

* {
	margin: 0;
	padding: 0;
}

p {
	font-size: 1.3em;
}

/* Forms */
fieldset {
	margin: .1em;
	padding: .2em .5em;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

select {
	border: none;
	border-radius: 2px;
	margin: 8px 5px;
	background-color: var(--white-gray);
	cursor: pointer;
}

input[type=checkbox] {
    margin: 5px;
    margin-top: 7px;
    cursor: pointer;
}

input[type=radio] {
    margin: 5px;
    margin-top: 7px;
    cursor: pointer;
}

legend {
	font-size: 1.25em;
    padding: 3px 6px;
}

label {
	font-size: 1.2em;
	padding: 0 5px;
}


/* Components */
.window {
	padding: 2em;
	display: flex;
	justify-content: center;
}

.box {
	padding: 1em;
	border-radius: 8px;
	box-shadow: .1em .1em .6em var(--dark-gray);  
}

/* Media */
.media {
	display: grid;
	justify-content: center;
	grid-template-areas: "header header"
						 "left right"
						 " body body"
						 "footer footer";
}

.media>.media-left {
	grid-area: left;
	margin: .2em 1em;
}

.media>.media-right {
	grid-area: right;
	margin: .2em 1em;
}

.media>.media-body {
	grid-area: body;
	margin: .2em 1em;
	justify-self: center;
}

.media>.media-header {
	grid-area: header;
	margin: 1em;
	border-bottom: .1em solid var(--dark-gray);
}

.media>.media-footer {
	grid-area: footer;
	margin: 1em;
	justify-self: end;
	list-style: none;
}

/* Titles */
.title {
	font-size: 1.8em;
}

.subtitle {
	font-size: 1.5em;
	color: var(--black-gray);
}

/* Icons */
.icon.small {
	height: 32px;
	width: 32px;
	font-size: 32px;
}

.icon {
	height: 64px;
	width: 64px;
	font-size: 64px;
}

.icon.large {
	height: 96px;
	width: 96px;
	font-size: 96px;
}

/* Buttons */
.button {
	font-size: 1.5em;
	margin: .1em;
	padding: .3em .6em;
	display: inline-block;
	background-color: var(--light-gray);
    cursor: pointer;
}

.button:hover {
	background-color: var(--gray);
}

.button.primary {
	color: #fff;
	background-color: var(--light-primary-color);
}

.button.primary:hover {
	color: #fff;
	background-color: var(--primary-color);
}

/* Tabs */
.tab-group {
	list-style: none;
	margin: 0;
	padding: 0;
	border-bottom: .17em solid var(--dark-gray);
}

.tab {
	text-align: center;
	float: left;
	border-bottom: .2em solid transparent;
    cursor: pointer;
}

.tab:hover {
	border-bottom: .2em solid var(--black-gray);
}

.tab * {
	display: block;
	margin: .2em .5em;
	padding: 0;
}

.tab.active > * {
	color: var(--primary-color);
}


/* Media Key */
.media-key {
	margin-bottom: 5px;
}

.media-key input {
    margin-left: 90px;
	margin-top: 6px;
}

.media-key label p {
	font-size: 1.2em;
	display: inline;
}


/* Misc */
.hidden {
	display: none;
}

.align-margin {
	position: absolute;
	left: 150px;
}