@charset "UTF-8";
@font-face {
	font-family: Nunito;
	src: url("https://fonts.googleapis.com/css?family=Nunito:400,700");
}
@font-face {
	font-family: Montserrat;
	src: url('https://fonts.googleapis.com/css?family=Montserrat');
}

/*Effects Everything*/
body {
	background-color: #282828;
	color: #b3b3b3;
}

p {
	font-family: Montserrat, Nunito, sans-serif;
	line-height: 0;
	height: 0;
}

ul {
	/*no dots*/
	list-style-type: none;
	margin: 0;
  	padding: 0;
}

div {
	padding: .5em;
}

.fas {
	font-size: 1.5em;
}


/*Grid*/
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
	padding-bottom: 0;
}

/*Album cover*/
.album-content {
	display: flex;
	justify-content: center;
}

/*Titles*/
.song {
	color: #fff;
	font-size: 2em;
}

.album {
	font-size: 1em;
	padding-bottom: 1.25em;
}


/*Controls*/
.controls {
	padding: 0;
}

.buttons {
	display: flex;
	justify-content: center;
}

.buttons li {
	display: inline-block;
	margin: 1em;
}

.slider-container {
	display: flex;
	align-items: center;
}

.slider-container li {
	display: inline-block;
	margin: .1em;
}

.slider {
	appearance: none;
	height: 1.25em;
	width: auto;
}

.time-container {
	padding-top: 0;
	justify-content: center;
}

#time-slider {
	/*can you say ~magic~number!!*/
	width: 300px; 
}