@charset "UTF-8";
@font-face {
	font-family: Nunito;
	src: url("https://fonts.googleapis.com/css?family=Nunito:400,700");
}
@font-face {
	font-family: Montserrat;
	src: url('https://fonts.googleapis.com/css?family=Montserrat');
}

/*Effects Everything*/
body {
	background-color: #282828;
	color: #b3b3b3;
}

p {
	font-family: Montserrat, Nunito, sans-serif;
	line-height: 0;
	height: 0;
}

ul {
	/*no dots*/
	list-style-type: none;
	margin: 0;
  	padding: 0;
}

div {
	padding: 1em;
}

.fas {
	font-size: 2em;
}


/*Grid*/
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
}


/*Titles for song and album*/
.song {
	color: #fff;
	font-size: 3em;
}

.album {
	font-size: 2em;
}


/*Controls*/
.buttons {
	display: flex;
	justify-content: center;
}

.buttons li {
	display: inline-block;
	margin: 1em;
}

.slider-container {
	display: flex;
	justify-content: center;
}

.slider-container li {
	display: inline-block;
	margin: 1em;
}

.slider {
	appearance: none;
	height: 2em;
}