@font-face {
	font-family: Nunito;
	src: url("https://fonts.googleapis.com/css?family=Nunito:400,700");
}
@font-face {
	font-family: Montserrat;
	src: url('https://fonts.googleapis.com/css?family=Montserrat');
}

/*Effects Everything*/
body {
	background-color: #282828;
	color: #b3b3b3;
}

p {
	font-family: Montserrat, Nunito, sans-serif;
	line-height: 0;
	height: 0;
}

ul {
	list-style-type: none;
	margin: 0;
  	padding: 0;
}

div {
	padding: 0.5em;
}

.button {
	background-color: transparent;
	border-color: transparent;
	color: #b3b3b3;
}

.button.disabled {
	color: #404040 !important;
}

.button:hover * {
	color: #fff;
}

.button.disabled:hover * {
	color: #404040 !important;
}

.hidden {
	display: none !important;
}

.side-padding {
	padding-left: .15em;
	padding-right: .15em;
}

.extra-margin {
	margin: .75em;
}

/*Grid*/
.grid {
	display: grid;
    align-items: center;
  	grid-template-areas: "header header"
  						 "body body"
  						 "left right"
						 "footer footer";
}

.grid>.grid-header {
	grid-area: header;
}

.grid>.grid-body {
	grid-area: body;
}

.grid>.grid-left {
	grid-area: left;
	justify-self: center;
	width: 96px;
}

.grid>.grid-right {
	grid-area: right;
	justify-item: start;
	width: 200px;
	overflow: hidden;
	white-space: nowrap;
}

.grid>.grid-footer {
	grid-area: footer;
}


/*Album cover*/
.album-content {
	display: flex;
	width: 96px;
	justify-content: center;
	cursor: pointer;
}

.title {
	color: #fff;
	font-size: 2em;
	cursor: pointer;
	margin: .5em 0;
}

.subtitle {
	font-size: 1em;
	cursor: pointer;
}

.queue-item {
	line-height: 1em;
	height: .75em;
}

.queue-list > li {
    display: inline;
}

.scrollEnabled:hover {
  animation: songscroll var(--duration) linear 2s infinite alternate;
}

@keyframes songscroll {
  from {
  	margin-left: 0%;
  }
  to {
  	margin-left: -100%;
  }
}

/*Controls*/
.buttons {
	display: flex;
	align-items: center;
	height: 20px;
}

.buttons li {
	margin: .75em;
}

.buttons.center {
	justify-content: center;
}

.buttons.space-between {
	justify-content: space-between;
}

.slider-container {
	display: flex;
	align-items: center;
}

.slider-container li {
	display: inline-block;
	margin: 0 .1em;
	margin-top: .15em;
}

.slider-container>li>p {
	margin: 0;
}

.slider {
	appearance: none;
	width: 200px;
	transition: 0.2;
    background-color: transparent;
}

.slider::-moz-focus-outer {
    border: 0;
}

.slider::-moz-range-track {
	background: #404040;
}

.slider::-moz-range-progress { 
    background-color: #b3b3b3;
    border: 25em;
}

.slider::-moz-range-thumb {
	border: none;
	width: 0;
	height: 0;
}

.slider:hover::-moz-range-thumb {
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  border: none;
}

.slider:hover::-moz-range-progress { 
    background-color: #1ed760;
}

/*Sign-In*/
#sign-in {
	padding: 10px 20px;
}

#login-button {
	background-color: #121212;
	border-radius: 25px;
	border: 2px solid #b3b3b3;
	transition: all 0.2s ease-in-out;
	width: 250px;
}

#login-button p {
	font-size: 1.5em;
	color: #fff;
	margin: .4em;
	text-align: center;
}

#login-button:hover {
	border: 2px solid #fff;
	transform: scale(1.1);
}

/*Time Slider*/
#time-slider {
	/*can you say ~magic~number!!*/
	width: 250px;
}

/*Volume Slider*/
#volume-button {
	width: 20px;
}

#volume-slider {
	/*can you say ~magic~number!!*/
	width: 150px;
}

/*Titles*/
#song-title {
	--duration: 4s;
	display: inline-block;
}