@font-face {
	font-family: Nunito;
	src: url("https://fonts.googleapis.com/css?family=Nunito:400,700");
}
@font-face {
	font-family: Montserrat;
	src: url('https://fonts.googleapis.com/css?family=Montserrat');
}

/*Effects Everything*/
body {
	background-color: #282828;
	color: #b3b3b3;
}

p {
	font-family: Montserrat, Nunito, sans-serif;
	line-height: 0;
	height: 0;
}

ul {
	/*no dots*/
	list-style-type: none;
	margin: 0;
  	padding: 0;
}

div {
	padding: .5em;
}

.button {
	background-color: transparent;
	border-color: transparent;
	color: #b3b3b3;
}

.button:hover {
	color: #fff;
}

.fas {
	font-size: 1.5em;
}


/*Grid*/
.grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 1em;
	padding-bottom: 0;
}

/*Album cover*/
.album-content {
	display: flex;
	width: 96px;
	justify-content: center;
}

/*Titles*/
.song {
	color: #fff;
	font-size: 2em;
}

.album {
	font-size: 1em;
	padding-bottom: 1.25em;
	display: inline;
}


/*Controls*/
.controls {
	padding: 0;
}

.buttons {
	display: flex;
	justify-content: center;
}

.buttons li {
	display: inline-block;
	margin: 1em;
}

.slider-container {
	display: flex;
	align-items: center;
}

.slider-container li {
	display: inline-block;
	margin: .1em;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	height: 1.25em;
	width: auto;
	border-radius: 0.2em;
	transition: 0.2;
}

.slider::-moz-range-track {
	background: #404040;
}

.slider::-webkit-slider-runnable-track {
	background: #404040;
}

.slider::-moz-range-progress { 
    background-color: #b3b3b3;
}

.slider::-webkit-progress-value {
	background-color: #b3b3b3;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
  	width: 0;
	height: 0;
}

.slider::-moz-range-thumb {
	border: none;
	width: 0;
	height: 0;
}

.slider:hover::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  border: none;
}

.slider:hover::-moz-range-thumb {
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  border: none;
}

.slider:hover::-moz-range-progress { 
    background-color: #1ed760;
}

.slider:hover::-webkit-progress-value {
	background-color: #1ed760;
}


/*Time SLider*/
.timestamp {
	padding-top: 0;
}

.time-container {
	justify-content: center;
}

#time-slider {
	/*can you say ~magic~number!!*/
	width: 300px;
}