@font-face {
	font-family: Nunito;
	src: url("https://fonts.googleapis.com/css?family=Nunito:400,700");
}
@font-face {
	font-family: Montserrat;
	src: url('https://fonts.googleapis.com/css?family=Montserrat');
}

/*Effects Everything*/
body {
	background-color: #282828;
	color: #b3b3b3;
}

p {
	font-family: Montserrat, Nunito, sans-serif;
	line-height: 0;
	height: 0;
}

ul {
	list-style-type: none;
	margin: 0;
  	padding: 0;
}

div {
	padding: .5em;
}

.button {
	background-color: transparent;
	border-color: transparent;
	color: #b3b3b3;
}

.button:hover * {
	color: #fff;
}

.fas {
	font-size: 1.5em;
}

/*Sign-In*/
#sign-in {
	padding: 10px 20px;
}

#login-button {
	background-color: #121212;
	border-radius: 25px;
	border: 2px solid #b3b3b3;
	transition: all 0.2s ease-in-out;
	width: 250px;
}

#login-button p {
	font-size: 1.5em;
	color: #fff;
	margin: .4em;
	text-align: center;
}

#login-button:hover {
	border: 2px solid #fff;
	transform: scale(1.1);
}

/*Grid*/
.grid {
	display: grid;
	grid-template-columns: auto 2fr;
	grid-gap: 1em;
	padding-bottom: 0;
}

/*Album cover*/
.album-content {
	display: flex;
	width: 96px;
	justify-content: center;
}

/*Titles*/
#titles {
	width: 200px;
	height: 110px;
	padding-left: 3px;
	overflow: hidden;
	white-space: nowrap;
}

#song-title {
	color: #fff;
	font-size: 2em;
	cursor: pointer;
	display: inline-block;
	--duration: 4s;
}

#artist {
	font-size: 1em;
	cursor: pointer;
}

.scrollEnabled:hover {
  animation: songscroll var(--duration) linear 2s infinite;
}

@keyframes songscroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-100% + 200px));
  }
}

/*Controls*/
.controls {
	padding: 0;
}

.buttons {
	display: flex;
	justify-content: center;
}

.buttons li {
	display: inline-block;
	margin: 1em;
}

.slider-container {
	display: flex;
	align-items: center;
}

.slider-container li {
	display: inline-block;
	margin: .1em;
}

.slider {
	appearance: none;
	height: 1.25em;
	width: 200px;
	transition: 0.2;
    background-color: transparent;
}

.slider::-moz-focus-outer {
    border: 0;
}

.slider::-moz-range-track {
	background: #404040;
}

.slider::-moz-range-progress { 
    background-color: #b3b3b3;
}

.slider::-moz-range-thumb {
	border: none;
	width: 0;
	height: 0;
}

.slider:hover::-moz-range-thumb {
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  border: none;
}

.slider:hover::-moz-range-progress { 
    background-color: #1ed760;
}

/*Time SLider*/
.timestamp {
	padding-top: 0;
}

.time-container {
	justify-content: center;
}

#time-slider {
	/*can you say ~magic~number!!*/
	width: 300px;
}